#Fade-dark {
  padding-top: 6%;
  padding-bottom: 100px;
  margin: auto;
  /* min-height: 100vh; */
    background-color: #003047;

}

.fade-header h4 {
  color: rgb(209, 209, 209);
  font-size: 25px;
  justify-content: center;
  font-family: serif;
  text-align: center;
}

.fade-header h5 {
  color: aqua;
  font-size: 20px;
  font-family: serif;
  text-align: center;

}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.3s;
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: ease;
}

[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
  transition-duration: .6s;
}

[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}

.product-image{
  width: 520px;
  height:300px;
  margin-bottom: 20px;
}

.product-image img{
  width: 100%;
  height: 100%;
}


.projects-grid{
  width: fit-content;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2,minmax(0,1fr));
}

.project{
  width:45% ;
}
.project h4 {
  color: rgb(197, 192, 192);;
 font-size: 20px;
 font-weight: 700;
 margin: 2px 0;
}

.project p {
 line-height: 2rem;
 color: gray;
 font-size: 18px;
 width: 500px;
 height: fit-content;
 margin: 2px 0;
 
}


.project p span{
 color: #f77f00;
 font-size: 18px;
 font-weight: 600;

}




.project-links a{
padding: 5px;
font-size: 15px;
margin-right: 10px;
margin-bottom: 30px;
cursor: pointer;
display: inline-block;
background-color: transparent;
border: 1px solid aqua;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: aqua;
text-decoration: none;
text-align: center;
 }

 .project-links a:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;}





    


/* //light-mood//// */

#Fade-light{
  padding-top: 6%;
  padding-bottom: 100px;
  margin: auto;
}

#Fade-light .fade-header h4 {
  color: #003049;
  font-size: 25px;
  justify-content: center;
  font-family: serif;
  text-align: center;
}

#Fade-light .fade-header h5 {
  color: #f77f00;
  font-size: 21px;
  font-family: serif;
  text-align: center;

}


#Fade-light .product-image{
  width: 520px;
  height:300px;
  margin-bottom: 20px;
}

#Fade-light .product-image img{
  width: 100%;
  height: 100%;
}


#Fade-light .projects-grid{
  width: fit-content;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2,minmax(0,1fr));
}

#Fade-light .project{
  width:45% ;
}
#Fade-light .project h4 {
  color: #003047;
 font-size: 20px;
 font-weight: 700;
 margin: 2px 0;
}

#Fade-light .project p {
 line-height: 2rem;
 color: #003047;
 font-size: 18px;
 width: 500px;
 height: fit-content;
 margin: 2px 0;
 
}

#Fade-light .project-skills-used{
  display: flex;
  margin-top: 40px;

}

#Fade-light .project p span{
 color: #f77f00;
 font-size: 18px;
 font-weight: 600;

}

#Fade-light .project-links a{
padding: 5px;
font-size: 15px;
margin-right: 10px;
margin-bottom: 30px;
cursor: pointer;
display: inline-block;
background-color: transparent;
border: 1px solid #003047;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: #003049;
text-decoration: none;
text-align: center;
 }

 .project-links a:hover {
  box-shadow: 0 0 10px 0 #003047 inset, 0 0 20px 2px #003047;
  border: 3px solid #003047;}


/* //responsive/// */

@media only screen and (min-device-width: 260px) and (max-device-width: 319px){

  .Fade {
    margin: auto 15%;
    width: 80%;
    text-align: left;
    padding-bottom: 30%;
  }

  .fade-header h4 {
    color: rgb(209, 209, 209);
    font-size: 23px;
    justify-content: center;
    font-family: serif;
    text-align: left;
  }

  .fade-header h5 {
    color: aqua;
    font-size: 18px;
    font-family: serif;
    text-align: left;

  }
  
  .projects-grid{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1,4fr);
  }

  .product-image{
    width: 210px;
    height:150px;
    margin-bottom: 20px;
  }
  
  .product-image img{
    width: 100%;
    height: 100%;
  }
  
  .project{
    width:100% ;
  }
  .project h4 {
    color: rgb(197, 192, 192);;
   font-size: 16px;
   font-weight: 700;
   margin: 2px 0;
  }
  
  .project p {
   line-height: 2rem;
   color: gray;
   font-size: 12px;
   width: 200px;
   height: fit-content;
   margin: 2px 0;
   
  }
  
  .project p span{
   color: #f77f00;
   font-size: 17px;
   font-weight: 500;
  }

  
  .project-links a{
  padding: 5px;
  width: 70px;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid aqua;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: aqua;
  text-decoration: none;
  text-align: center;
   }
  
   .project-links a:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;}
  
  

    /* ///light-mode//// */

    #Fade-light .Fade {
      margin: auto 15%;
      width: 80%;
      text-align: left;
      padding-bottom: 30%;
    }
  
    #Fade-light .fade-header h4 {
      color: #003049;
      font-size: 23px;
      justify-content: center;
      font-family: serif;
      text-align: left;
    }
  
    #Fade-light .fade-header h5 {
      color: #f77f00;
      font-size: 18px;
      font-family: serif;
      text-align: left;
  
    }
    
    #Fade-light .projects-grid{
      width: fit-content;
      margin: auto;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(1,4fr);
    }
  
    #Fade-light .product-image{
      width: 210px;
      height:150px;
      margin-bottom: 20px;
    }
    
    #Fade-light .product-image img{
      width: 100%;
      height: 100%;
    }
    
    #Fade-light .project{
      width:100% ;
    }
    #Fade-light .project h4 {
      color: #003047;;
     font-size: 16px;
     font-weight: 700;
     margin: 2px 0;
    }
    
    #Fade-light .project p {
     line-height: 2rem;
     color: #003047;
     font-size: 12px;
     width: 200px;
     height: fit-content;
     margin: 2px 0;
     
    }
  
    
    #Fade-light .project p span{
      color: #f77f00;
      font-size: 17px;
      font-weight: 500;
     }
  
    
    #Fade-light .project-links a{
    padding: 5px;
    width: 70px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #003047;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #003047;
    text-decoration: none;
    text-align: center;
     }
    
     

}

@media only screen and (min-device-width: 320px) and (max-width:767px) {

   #Fade-dark {
    margin: auto 5%;
    width: 86%;
    text-align: left;
    padding-bottom: 0%;
    padding-top: 0%;
  }

  .fade-header h4 {
    color: rgb(209, 209, 209);
    font-size: 23px;
    justify-content: center;
    font-family: serif;
    text-align: left;
  }

  .fade-header h5 {
    color: aqua;
    font-size: 18px;
    font-family: serif;
    text-align: left;

  }
  
  .projects-grid{
    width: fit-content;
    margin: 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1,4fr);
  }

  .product-image{
    width: 315px;
    height:200px;
    margin-bottom: 20px;
  }
  
  .product-image img{
    width: 100%;
    height: 100%;
  }
  
  .project{
    width:100% ;
  }
  .project h4 {
    color: rgb(197, 192, 192);;
   font-size: 19px;
   font-weight: 700;
   margin: 2px 0;
  }
  
  .project p {
   line-height: 2rem;
   color: gray;
   font-size: 18px;
   width: 290px;
   height: fit-content;
   margin: 2px 0;
   
  }
  
  
  
  .project p span{
    color: #f77f00;
    font-size: 17px;
    font-weight: 500;
   }

  
  .project-links a{
  padding: 5px;
  width: 70px;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid aqua;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: aqua;
  text-decoration: none;
  text-align: center;
   }
  
   .project-links a:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;}
  
  

    /* ///light-mode//// */

    #Fade-light{
      margin: auto 5%;
      width: 86%;
      text-align: left;
      padding-bottom: 0%;
      padding-top: 0%;
    }
  
    #Fade-light .fade-header h4 {
      color: #003049;
      font-size: 23px;
      justify-content: center;
      font-family: serif;
      text-align: left;
    }
  
    #Fade-light .fade-header h5 {
      color: #f77f00;
      font-size: 18px;
      font-family: serif;
      text-align: left;
  
    }
    
    #Fade-light .projects-grid{
      width: fit-content;
      margin: 0;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(1,4fr);
    }
  
    #Fade-light .product-image{
      width: 315px;
      height:200px;
      margin-bottom: 20px;
    }
    
    #Fade-light .product-image img{
      width: 100%;
      height: 100%;
    }
    
    #Fade-light .project{
      width:100% ;
    }
    #Fade-light .project h4 {
      color: #003047;;
     font-size: 19px;
     font-weight: 700;
     margin: 2px 0;
    }
    
    #Fade-light .project p {
     line-height: 2rem;
     color: #003047;
     font-size: 18px;
     width: 280px;
     height: fit-content;
     margin: 2px 0;
     
    }
    
    
    #Fade-light .project p span{
      color: #f77f00;
      font-size: 17px;
      font-weight: 500;
     }
  
    
    #Fade-light .project-links a{
    padding: 5px;
    width: 70px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #003047;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #003047;
    text-decoration: none;
    text-align: center;
     }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){


  .Fade {
    margin: auto 15%;
    width: 80%;
    text-align: left;
    padding-bottom: 30%;
  }

  .fade-header h4 {
    color: rgb(209, 209, 209);
    font-size: 25px;
    justify-content: center;
    font-family: serif;
    text-align: left;
  }

  .fade-header h5 {
    color: aqua;
    font-size: 23px;
    font-family: serif;
    text-align: left;

  }
  
  .projects-grid{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1,4fr);
  }

  .product-image{
    min-width: 580px;
    height:280px;
    margin-bottom: 20px;
  }
  
  .product-image img{
    width: 100%;
    height: 100%;
  }
  
  .project{
    width:45% ;
  }
  .project h4 {
    color: rgb(197, 192, 192);;
   font-size: 23px;
   font-weight: 700;
   margin: 2px 0;
  }
  
  .project p {
   line-height: 2rem;
   color: gray;
   font-size: 18px;
   width: 500px;
   height: fit-content;
   margin: 2px 0;
   
  }
  
  .project-skills-used{
    display: flex;
    margin-top: 10px;
  
  }
  
  .project p span{
    color: #f77f00;
    font-size: 18px;
    font-weight: 500;
   }

  
  .project-links a{
  padding: 5px;
  width: 70px;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid aqua;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: aqua;
  text-decoration: none;
  text-align: center;
   }
  
   .project-links a:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;}
  
  

    /* ///light-mode//// */

    #Fade-light .Fade {
      margin: auto 15%;
      width: 80%;
      text-align: left;
      padding-bottom: 30%;
    }
  
    #Fade-light .fade-header h4 {
      color: #003049;
      font-size: 25px;
      justify-content: center;
      font-family: serif;
      text-align: left;
    }
  
    #Fade-light .fade-header h5 {
      color: #f77f00;
      font-size: 20px;
      font-family: serif;
      text-align: left;
  
    }
    
    #Fade-light .projects-grid{
      width: fit-content;
      margin: auto;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(1,4fr);
    }
  
    #Fade-light .product-image{
      width: 580px;
      height:280px;
      margin-bottom: 20px;
    }
    
    #Fade-light .product-image img{
      width: 100%;
      height: 100%;
    }
    
    #Fade-light .project{
      width:45% ;
    }
    #Fade-light .project h4 {
      color: #003047;;
     font-size: 23px;
     font-weight: 700;
     margin: 2px 0;
    }
    
    #Fade-light .project p {
     line-height: 2rem;
     color: #003047;
     font-size: 18px;
     width: 480px;
     height: fit-content;
     margin: 2px 0;
     
    }
    
    
    
    #Fade-light .project p span{
      color: #f77f00;
      font-size: 18px;
      font-weight: 500;
     }
  
    
    #Fade-light .project-links a{
    padding: 5px;
    width: 70px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #003047;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #003047;
    text-decoration: none;
    text-align: center;
     }
}

@media only screen and (device-width : 1024px){

  .product-image{
    width: 400px;
    height:220px;
    margin-bottom: 20px;
  }
  
  .product-image img{
    width: 100%;
    height: 100%;
  }
  
  
  .projects-grid{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  
  .project{
    width:45% ;
  }
  .project h4 {
    color: rgb(197, 192, 192);;
   font-size: 20px;
   font-weight: 700;
   margin: 2px 0;
  }
  
  .project p {
   line-height: 2rem;
   color: gray;
   font-size: 19px;
   width: 380px;
   height: 30px;
   margin: 2px 0;
   
  }
  
  
  
  .project p span{
    color: #f77f00;
    font-size: 19px;
    font-weight: 500;
   }
  
  .project-links a{
  padding: 5px;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid aqua;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: aqua;
  text-decoration: none;
  text-align: center;
   }
  
   .project-links a:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;}
  
  


/* //light-mood//// */

#Fade-light{
  padding-top: 6%;
  padding-bottom: 100px;
  margin: auto;
}

#Fade-light .fade-header h4 {
  color: #003049;
  font-size: 25px;
  justify-content: center;
  font-family: serif;
  text-align: center;
}

#Fade-light .fade-header h5 {
  color: #f77f00;
  font-size: 21px;
  font-family: serif;
  text-align: center;

}


#Fade-light .product-image{
  width: 400px;
  height:220px;
  margin-bottom: 20px;
}

#Fade-light .product-image img{
  width: 100%;
  height: 100%;
}


#Fade-light .projects-grid{
  width: fit-content;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2,minmax(0,1fr));
}

#Fade-light .project{
  width:45% ;
}
#Fade-light .project h4 {
  color: #003047;
 font-size: 20px;
 font-weight: 700;
 margin: 2px 0;
}

#Fade-light .project p {
 line-height: 2rem;
 color: #003047;
 font-size: 19px;
 width: 380px;
 height: 30px;
 margin: 2px 0;
 
}


#Fade-light .project p span{
  color: #f77f00;
  font-size: 19px;
  font-weight: 500;
 }

#Fade-light .project-links a{
padding: 5px;
font-size: 15px;
margin-right: 10px;
margin-bottom: 30px;
cursor: pointer;
display: inline-block;
background-color: transparent;
border: 1px solid #003047;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: #003049;
text-decoration: none;
text-align: center;
 }

 .project-links a:hover {
  box-shadow: 0 0 10px 0 #003047 inset, 0 0 20px 2px #003047;
  border: 3px solid #003047;}



}