.Fade {
  /* padding-top: 6%;
  padding-bottom: 100px;
  margin: auto;
  z-index: 500; */

  margin: auto 5%;
  max-width: 80%;
  padding-block-end: 10%;
  padding-inline: 8% 10%;
}

.fade-header h5 {
  color: #b36b43;
  font-size: 2rem;
  font-family: nunito;
  text-align: center;
  line-height: 0.2em;
}

.product-image {
  /* width: 400px;
  height: 200px; */
  margin-bottom: 20px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.product-image img {
  /* width: 100%;
  height: 100%; */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-blend-mode: multiply;
}

.projects-grid {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  padding: 1%;
}

.project {
  display: flex;
  gap: 5%;
}

.product_text_wrap {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

#Fade-dark .live-project-link {
  padding-inline: 32px;
  padding-block: 12px;
  font-size: 0.8rem;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: #944703;
  border: 1px solid #944703;
  border-radius: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #ffdbaf;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

#Fade-dark .project-direct-link {
  padding-inline: 32px;
  padding-block: 12px;
  font-size: 0.8rem;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #944703;
  border-radius: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #ffdbaf;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

.project p {
  line-height: 2rem;
  color: #ccac8c;
  font-size: 1rem;
  height: fit-content;
}

#Fade-dark .project p span {
  color: #dcb494;
  font-size: 1rem;
  font-weight: 600;
}

.project h4 {
  color: #a38064;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2px 0;
  font-family: nunito;
}

.github-link {
  color: #ffdbaf;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline 2px #944703;
  justify-items: center;
  margin-left: 45%;
  line-height: 5rem;
}

.github-link:hover {
  color: #a38064;
  transition: 0.1;
}

/* //light-mood//// */

#Fade-light .fade-header h5 {
  color: #424242;
}

#Fade-light .fade-header-inner .lines {
  border: solid 2px #000;
  background-color: #000;
  width: 50%;
  height: 0px;
  margin-top: 5%;
}

#Fade-light .project h4 {
  color: #424242;
}

#Fade-light .project p {
  color: #616161;
}

#Fade-light .project-skills-used {
  display: flex;
  margin-top: 40px;
}

#Fade-light .project p span {
  color: #424242;
  font-size: 1rem;
  font-weight: 600;
}

#Fade-light .project-direct-link {
  padding-inline: 32px;
  padding-block: 12px;
  font-size: 0.8rem;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: #944703;
  border: 1px solid #944703;
  border-radius: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

#Fade-light .live-project-link {
  padding-inline: 32px;
  padding-block: 12px;
  font-size: 0.8rem;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 3px solid #944703;
  border-radius: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #626262;
  text-decoration: none;
  text-align: center;
}

#Fade-light .github-link {
  color: #626262;
}

/* //responsive/// */

@media only screen and (max-device-width: 920px) {
  #Fade-dark {
    /* margin: 10% 5%; */
    width: 100%;
    text-align: left;
  }
  .Fade{
    margin: auto 5%;
    padding-block-end: 10%;
    padding-inline: 4% 10%;
  }

  .fade-header h4 {
    font-size: 23px;
    justify-content: center;
    text-align: left;
  }

  .fade-header h5 {
    font-size: 1.5rem;
    text-align: left;
  }

  #Fade-dark .projects-grid {
    width: 100%;
    margin: auto;
  }

  .product-image {
    /* width: 210px;
    height: 150px; */
    margin-bottom: 20px;
  }

  .product-image img {
    width: 100%;
    height: 100%;
  }

  #Fade-dark .project {
    width: 100%;
    flex-direction:column;
  }

  .project h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2px 0;
  }

  .github-link {
    margin-left: 0%;
  }

  #Fade-dark .project p {
    line-height: 2rem;
    font-size: 1rem;
    height: fit-content;
    margin: 2px 0;
  }

  .project p span {
    font-size: 17px;
    font-weight: 500;
  }

  .project-links a {
    padding: 5px;
    width: fit-content;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    text-align: center;
  }

  /* ///light-mode//// */

  #Fade-light {
    width: 100%;
    text-align: left;
  }

  #Fade-light .fade-header h4 {
    font-size: 23px;
    justify-content: center;
    text-align: left;
  }

  #Fade-light .fade-header h5 {
    font-size: 1.5rem;
    text-align: left;
  }

  #Fade-light .projects-grid {
    width: 100%;
    margin: auto;
  }

  #Fade-light .product-image {
    margin-bottom: 20px;
  }

  

  #Fade-light .project {
    width: 100%;
    flex-direction:column;

  }
  #Fade-light .project h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2px 0;
  }

  #Fade-light .project p {
    line-height: 2rem;
    font-size: 1rem;
    height: fit-content;
    margin: 2px 0;
  }
}

