#Fade-dark {
  padding-top: 6%;
  padding-bottom: 100px;
  margin: auto;
  z-index: 500;

  /* min-height: 100vh; */
    /* background-color: #003047; */

}

.fade-header h4 {
  color: #ffffff;
  font-size: 30px;
  justify-content: center;
  font-family: poppins;
  text-align: center;
  font-weight: bold;
  line-height: 0.2em;
}

.fade-header h5 {
  color: #0074ff;
  font-size: 20px;
  font-family: poppins;
  text-align: center;
  line-height: 0.2em;

}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.3s;
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: ease;
}

[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
  transition-duration: .6s;
}

[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}

.product-image{
  /* width: 70%;
  height:70%; */
  margin-bottom: 20px;
}

.product-image img{
  width: 100%;
  height: 100%;
}



.projects-grid{
  width: fit-content;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2,minmax(0,1fr));
  border: 3px solid #e2e3eb;
  background-color: #e2e3eb;
  border-radius: 15px;
  padding: 1%;
}

.project{
  border: 3px solid #f7fbfd;
  background-color: #f7fbfd;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  padding: 1%;

}
.project h4 {
  color: #0074ff;
 font-size: 20px;
 font-weight: 700;
 margin: 2px 0;
}

.project p {
 line-height: 2rem;
 color: #000;
 font-size: 18px;
 width: 450px;
 height: fit-content;
 margin: 2px 10px;
 
}


.project p span{
 color: #000;
 font-size: 18px;
 font-weight: 600;

}




.project-links a{
padding: 5px;
font-size: 15px;
margin-right: 10px;
margin-bottom: 30px;
cursor: pointer;
display: inline-block;
background-color: transparent;
border: 1px solid #0074FF;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: #000;
text-decoration: none;
text-align: center;
z-index: 10;
 }

 .github-link{
  color: #ffffff;
  font-size: 18px;
  text-decoration: underline 2px #0074ff;
  justify-items: center;
  margin-left: 45%;
  line-height: 5rem;
 }

 





    


/* //light-mood//// */

#Fade-light{
  padding-top: 6%;
  padding-bottom: 100px;
  margin: auto;
}

#Fade-light .fade-header h4 {
  color: #000;
  font-size: 30px;
  justify-content: center;
  font-family: poppins;
  text-align: center;
  font-weight: bold;
}

#Fade-light .fade-header h5 {
  color: #0074ff;
  font-size: 21px;
  font-family: poppins;
  text-align: center;

}


#Fade-light .product-image{
  /* width: 480px;
  height:300px; */
  margin-bottom: 20px;
}

#Fade-light .product-image img{
  width: 100%;
  height: 100%;
}


#Fade-light .projects-grid{
  width: fit-content;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2,minmax(0,1fr));
}

#Fade-light .fade-header-inner .lines {
  border: solid 2px #000;
  background-color: #000;
  width: 50%;
  height: 0px;
  margin-top: 5%;
}

#Fade-light .project h4 {
  color: #0074ff;
 font-size: 20px;
 font-weight: 700;
 margin: 2px 0;
}

#Fade-light .project p {
 line-height: 2rem;
 color: #000;
 font-size: 18px;
 width: 450px;
 height: fit-content;
 margin: 2px 0;
 
}

#Fade-light .project-skills-used{
  display: flex;
  margin-top: 40px;

}

#Fade-light .project p span{
 color: #0074ff;
 font-size: 18px;
 font-weight: 600;

}

 #Fade-light .project-links a{
padding: 5px;
font-size: 15px;
margin-right: 10px;
margin-bottom: 30px;
cursor: pointer;
display: inline-block;
background-color: transparent;
border: 1px solid #0074ff;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: #000;
text-decoration: none;
text-align: center;
 } 

 

  #Fade-light .github-link{
    color: #000;
    font-size: 18px;
    text-decoration: underline #0074ff;
    align-items: center;
    justify-content: center;
   }


/* //responsive/// */

@media only screen and (min-device-width: 260px) and (max-device-width: 319px){

  #Fade-dark {
    margin: 10% 10%;
    width: 80%;
    text-align: left;
    padding-bottom: 0x;
  }

  .fade-header h4 {
    font-size: 23px;
    justify-content: center;
    text-align: left;
  }

  .fade-header h5 {
    font-size: 18px;
    text-align: left;

  }
  
  .projects-grid{
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1,4fr);
  }

  .product-image{
    width: 210px;
    height:150px;
    margin-bottom: 20px;
  }
  
  .product-image img{
    width: 100%;
    height: 100%;
  }
  
  .project{
    width:95% ;
  }
  .project h4 {
   font-size: 15px;
   font-weight: 700;
   margin: 2px 0;
  }
  
.github-link{
  margin-left: 0%;
}

  .project p {
   line-height: 2rem;
   font-size: 12px;
   width: 200px;
   height: fit-content;
   margin: 2px 0;
   
  }
  
  .project p span{
   font-size: 17px;
   font-weight: 500;
  }

  
  .project-links a{
  padding: 5px;
  width: 70px;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  text-decoration: none;
  text-align: center;
   }
  
   
  
  

    /* ///light-mode//// */

    #Fade-light  {
      margin: auto 10%;
      width: 80%;
      text-align: left;
      padding-bottom: 0px;
    }
  
    #Fade-light .fade-header h4 {
      font-size: 23px;
      justify-content: center;
      text-align: left;
    }
  
    #Fade-light .fade-header h5 {
      font-size: 18px;
      text-align: left;
  
    }
    
    #Fade-light .projects-grid{
      width: 100%;
      margin: auto;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(1,4fr);
    }
  
    #Fade-light .product-image{
      width: 210px;
      height:150px;
      margin-bottom: 20px;
    }
    
    #Fade-light .product-image img{
      width: 100%;
      height: 100%;
    }
    
    #Fade-light .project{
      width:95% ;
    }
    #Fade-light .project h4 {
     font-size: 15px;
     font-weight: 700;
     margin: 2px 0;
    }
    
    #Fade-light .project p {
     line-height: 2rem;
     font-size: 12px;
     width: 200px;
     height: fit-content;
     margin: 2px 0;
     
    }
  
    
    #Fade-light .project p span{
      font-size: 17px;
      font-weight: 500;
     }
  
    
    #Fade-light .project-links a{
    padding: 5px;
    width: 70px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    text-decoration: none;
    text-align: center;
     }
    
     

}



@media only screen and (min-device-width: 320px) and (max-width:507px) {

  #Fade-dark {
   margin: auto 3%;
   width: 86%;
   text-align: left;
   padding-bottom: 0%;
   padding-top: 0%;
 }

 .fade-header h4 {
   font-size: 23px;
   justify-content: center;
   text-align: left;
 }

 .fade-header h5 {
   font-size: 18px;
   text-align: left;

 }
 
 .projects-grid{
   width: 98%;
   margin: 0;
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: repeat(1,4fr);
 }

 .product-image{
   width: 111%;
   height:200px;
   margin-bottom: 20px;
 }
 
 .product-image img{
   width: 90%;
   height: 90%;
 }
 
 .project{
   width:95% ;
 }
 .project h4 {
  font-size: 19px;
  font-weight: 700;
  margin: 2px 0;
 }
 
 .project p {
  line-height: 2rem;
  font-size: 18px;
  width: 290px;
  height: fit-content;
  margin: 2px 0;
  
 }
 
 
 
 .project p span{
   font-size: 17px;
   font-weight: 500;
  }

  .github-link{
    margin-left: 0%;
  }
 
 .project-links a{
 padding: 5px;
 width: 70px;
 font-size: 15px;
 margin-right: 10px;
 margin-bottom: 30px;
 cursor: pointer;
 display: inline-block;
 background-color: transparent;
 -webkit-transition: all .15s ease-in-out;
 transition: all .15s ease-in-out;
 text-decoration: none;
 text-align: center;
  }
 
  
 
 

   /* ///light-mode//// */

   #Fade-light{
     margin: auto 3%;
     width: 86%;
     text-align: left;
     padding-bottom: 0%;
     padding-top: 0%;
   }
 
   #Fade-light .fade-header h4 {
     font-size: 23px;
     justify-content: center;
     text-align: left;
   }
 
   #Fade-light .fade-header h5 {
     font-size: 18px;
     text-align: left;
 
   }
   
   #Fade-light .projects-grid{
     width: 98%;
     margin: 0;
     display: grid;
     grid-gap: 2rem;
     grid-template-columns: repeat(1,4fr);
   }
 
   #Fade-light .product-image{
     width: 111%;
     height:200px;
     margin-bottom: 20px;
   }
   
   #Fade-light .product-image img{
     width: 90%;
     height: 90%;
   }
   
   #Fade-light .project{
     width:95% ;
   }
   #Fade-light .project h4 {
    font-size: 19px;
    font-weight: 700;
    margin: 2px 0;
   }
   
   #Fade-light .project p {
    line-height: 2rem;
    font-size: 18px;
    width: 280px;
    height: fit-content;
    margin: 2px 0;
    
   }
   
   
   #Fade-light .project p span{
     font-size: 17px;
     font-weight: 500;
    }
 
   
   #Fade-light .project-links a{
   padding: 5px;
   width: 70px;
   font-size: 15px;
   margin-right: 10px;
   margin-bottom: 30px;
   cursor: pointer;
   display: inline-block;
   background-color: transparent;
   -webkit-transition: all .15s ease-in-out;
   transition: all .15s ease-in-out;
   text-decoration: none;
   text-align: center;
    }

}

@media only screen and (min-device-width : 508px) and (max-device-width : 767px){


  #Fade-dark {
    margin: auto 6%;
    width: 80%;
    text-align: left;
    padding-bottom: 30%;
  }

  .fade-header h4 {
    font-size: 25px;
    justify-content: left;
    text-align: left;
  }

  .fade-header h5 {
    font-size: 23px;
    text-align: left;
    line-height: 0.2em;

  }

  .fade-header {
    margin: auto ;


  }
  
  .projects-grid{
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1,4fr);
  }

  .product-image{
    /* width: 450px;
    height:280px; */
    margin-bottom: 20px;
  }
  
  .product-image img{
    width: 100%;
    height: 100%;
  }
  
  .project{
    width:95% ;
  }
  .project h4 {
   font-size: 23px;
   font-weight: 700;
   margin: 2px 0;
  }
  
  .project p {
   line-height: 2rem;
   font-size: 18px;
   width: 100%;
   height: fit-content;
   margin: 2px 0;
   
  }
  
  .project-skills-used{
    display: flex;
    margin-top: 10px;
  
  }
  
  .project p span{
    font-size: 18px;
    font-weight: 500;
   }

  
  .project-links a{
  padding: 5px;
  width: 70px;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  text-decoration: none;
  text-align: center;
   }
  
  

    /* ///light-mode//// */

    #Fade-light {
      margin: auto 6%;
      width: 80%;
      text-align: left;
      padding-bottom: 10%;
    }
  
    #Fade-light .fade-header h4 {
      font-size: 25px;
      justify-content: center;
      text-align: left;
    }
  
    #Fade-light .fade-header h5 {
      font-size: 20px;
      text-align: left;
  
    }
    
    #Fade-light .projects-grid{
      width: 100%;
      margin: auto;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(1,4fr);
    }
  
    #Fade-light .product-image{
      /* width: 450px;
      height:280px; */
      margin-bottom: 20px;
    }
    .github-link{
      margin-left: 0%;
    }
    
    #Fade-light .product-image img{
      width: 100%;
      height: 100%;
    }
    
    #Fade-light .project{
      width:95% ;
    }
    #Fade-light .project h4 {
     font-size: 23px;
     font-weight: 700;
     margin: 2px 0;
    }
    
    #Fade-light .project p {
     line-height: 2rem;
     font-size: 18px;
     width: 100%;
     height: fit-content;
     margin: 2px 0;
     
    }
    
    
    
    #Fade-light .project p span{
      font-size: 18px;
      font-weight: 500;
     }
  
    
    #Fade-light .project-links a{
    padding: 5px;
    width: 70px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    text-decoration: none;
    text-align: center;
     }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 921px){
.projects-grid{
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(1,4fr);
}

.product-image{
  /* width: 315px;
  height:200px; */
  margin-bottom: 20px;
}

.product-image img{
  width: 90%;
  height: 90%;
}

.project{
  width:90%;
  padding: 4%;
}


#Fade-light .projects-grid{
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(1,4fr);
}

#Fade-light .product-image{
  /* width: 315px;
  height:200px; */
  margin-bottom: 20px;
}

#Fade-light .product-image img{
  width: 90%;
  height: 90%;
}

#Fade-light .project{
  width:90%;
  padding: 4%;
}

.github-link{
  margin-left: 10%;
}
}

@media only screen and (device-width : 1024px){

  .fade-header h4 {
    color: #ffffff;
    font-size: 45px;
    justify-content: center;
    font-family: poppins;
    text-align: center;
    font-weight: bold;
    line-height: 0.2em;
}

.fade-header h5 {
  color: #0074ff;
  font-size: 33px;
  font-family: poppins;
  text-align: center;
  line-height: 0.2em;
}

  .product-image{
    width: 400px;
    height:220px;
    margin-bottom: 20px;
  }
  
  .product-image img{
    width: 100%;
    height: 100%;
  }
  
  
  .projects-grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  
  .project{
    width:98% ;
  }
  .project h4 {
   font-size: 20px;
   font-weight: 700;
   margin: 2px 0;
  }
  
  .project p {
   line-height: 2rem;
   font-size: 19px;
   width: 100%;
   height: fit-content;
   margin: 2px 0;
   
  }
  
  
  
  .project p span{
    font-size: 19px;
    font-weight: 500;
   }
  
  .project-links a{
  padding: 5px;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  text-decoration: none;
  text-align: center;
   }
  
  
  
  


/* //light-mood//// */

#Fade-light{
  padding-top: 6%;
  padding-bottom: 100px;
  margin: auto;
}

#Fade-light .fade-header h4 {
  font-size: 45px;
  justify-content: center;
  text-align: center;
}

#Fade-light .fade-header h5 {
  font-size: 33px;
  text-align: center;

}


#Fade-light .product-image{
  width: 400px;
  height:220px;
  margin-bottom: 20px;
}

#Fade-light .product-image img{
  width: 100%;
  height: 100%;
}


#Fade-light .projects-grid{
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2,minmax(0,1fr));
}

#Fade-light .project{
  width:98% ;
}
#Fade-light .project h4 {
 font-size: 20px;
 font-weight: 700;
 margin: 2px 0;
}

#Fade-light .project p {
 line-height: 2rem;
 font-size: 19px;
 width: 100%;
 height: fit-content;
 margin: 2px 0;
 
}


#Fade-light .project p span{
  font-size: 19px;
  font-weight: 500;
 }

#Fade-light .project-links a{
padding: 5px;
font-size: 15px;
margin-right: 10px;
margin-bottom: 30px;
cursor: pointer;
display: inline-block;
background-color: transparent;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
text-decoration: none;
text-align: center;
 }

 



}