.social-buttons-container {
    height: fit-content;
  z-index: 20;
  align-items: center;
  }



   .social-buttons-container ul{
  display: flex;
  align-items: center;
  gap: 2rem;
  -webkit-box-align: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#social-buttons-dark .contact-section-light-display{
display: none;
}

#social-buttons-dark .contact-icons-link-dark :hover{
  transition: 5s;
  transition-delay: 2s;
}

.contact-section-dark-display_aqua{
  display: flex;
  flex-direction: column;
  align-items: center;
}



 li{
  float: left;
  
 }



 li a{
  display: block;
  text-decoration: none;
color: #dcb494;
font-size: 1rem;
 }

 li a:hover{
  display: block;
  text-decoration: none;
color: #a38064;
font-size: 0.9rem;
transition: 0.2s;
 }

 /* .vl {
  border-left: 1px solid #dcb494;
  height: 450px;
  margin-left: 5%;
} */

/* ///light-mode/// */

#social-buttons-light li a{
 color: #944703;
 
}

.contact-section-light-display_blue{
  width: 40px;
    bottom: 0px;
    left: 20px;
    right: auto;
}

/* #social-buttons-light .contact-section-dark-display{
  display: none;
  } */

 .social-buttons-container li a img{
width: 35px;
height: 35px;
  }

  /* ////responsiveness///// */

  @media only screen and (max-device-width : 920px){

  }