.social-buttons-container {
    height: fit-content;
  z-index: 20;
  padding-left: 3px;
  position:sticky;
  /* bottom: 45%; */
  top: 35%;
  position: fixed;
  }



   .social-buttons-container ul{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#social-buttons-dark .contact-section-light-display{
display: none;
}

#social-buttons-dark .contact-icons-link-dark :hover{
  transition: 5s;
  transition-delay: 2s;
}

.contact-section-dark-display_aqua{
  width: 40px;
    bottom: 0px;
    left: 20px;
    right: auto;
}



 li{
  float: left;
  padding-left: 2px;
  margin: auto;
 }



 li a{
  display: block;
  text-decoration: none;
  padding: 10px;
 }

/* ///light-mode/// */

#social-buttons-light{
  height: fit-content;
  z-index: 20;
  padding-left: 3px;
  position:sticky;
  bottom: 50px;
  position: fixed;
}

.contact-section-light-display_blue{
  width: 40px;
    bottom: 0px;
    left: 20px;
    right: auto;
}

#social-buttons-light .contact-section-dark-display{
  display: none;
  }

  /* ////responsiveness///// */

  @media only screen and (min-device-width : 260px) and (max-device-width : 319px){

    .social-buttons-container {
      height: fit-content;
      margin-right: auto;
     position: relative;
     margin-bottom: -230px;
     padding-left: 5%;
     bottom: 20px;
    }

    .social-buttons-container ul{
      display: flex;
      flex-direction: row;
      -webkit-box-align: center;
      margin: 0px;
      padding: 0px;
      list-style: none;
      margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        /* padding-inline-start: 40px; */
    }
    
    .animate__animated.animate__fadeInUp{
      display: none;
    }

    
    #social-buttons-dark .contact-section-light-display{
    display: none;
    }
    
    #social-buttons-dark .contact-icons-link-dark :hover{
      transition: 5s;
      transition-delay: 2s;
    }
    
    .contact-section-dark-display_aqua{
        bottom: 0px;
        left: 20px;
        right: auto;
        /* top: 90%; */
    }
    
    li{
      margin: auto;
     }

    #social-buttons-light{
      height: fit-content;
       margin-right: auto;
      position: relative;
      margin-bottom: -270px;
      padding-left: 5%;
      bottom: 10px;
          /* z-index: 10; */
    }

    .contact-section-light-display_blue{
        bottom: 0px;
        left: 20px;
        right: auto;
    }
    
    #social-buttons-light .contact-section-dark-display{
      display: none;
      }

  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px){

    .social-buttons-container {
      height: fit-content;
      margin: auto;
      position: relative;
      padding-left: 15%;
      bottom: 0;
      padding-bottom: -10%;

    }
    
      
     .social-buttons-container ul{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
  
    .animate__animated.animate__fadeInUp{
      display: none;
    }

    
    #social-buttons-dark .contact-section-light-display{
    display: none;
    }
    
    #social-buttons-dark .contact-icons-link-dark :hover{
      transition: 5s;
      transition-delay: 2s;
    }
    
    .contact-section-dark-display_aqua{
        bottom: 0px;
        left: 20px;
        right: auto;
        /* top: 90%; */
        width: fit-content;
        align-items: center;
    }
    
    li{
      margin: auto;
     }

     #social-buttons-light{
      height: fit-content;
       margin-right: auto;
      position: relative;
      padding-left: 16%;
      margin-bottom: -90px;
      bottom: 18px;
    }
    
    .contact-section-light-display_blue{
        bottom: 0px;
        left: 20px;
        right: auto;
    }
    
    #social-buttons-light .contact-section-dark-display{
      display: none;
      }

    }
  

  @media screen  and (min-device-width : 481px) and (max-width:768px){

    .social-buttons-container {
      margin-bottom: -45px;
      height: fit-content;
      /* margin-right: auto; */
      padding-left: 28%;
      position: relative;
    
    }
  
  
  
     .social-buttons-container ul{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      /* padding-inline-start: 40px; */
  }
  
    .animate__animated.animate__fadeInUp{
      display: none;
    }

    
    #social-buttons-dark .contact-section-light-display{
    display: none;
    }
    
    #social-buttons-dark .contact-icons-link-dark :hover{
      transition: 5s;
      transition-delay: 2s;
    }
    
    .contact-section-dark-display_aqua{
        bottom: 0px;
        left: 20px;
        right: auto;
        z-index: 10;
    }
    
    li{
      margin: auto;
     }

     #social-buttons-light{
      height: fit-content;
       margin-right: auto;
      position: relative;
      padding-left: 28%;
      margin-bottom: -106px;
          /* z-index: 10; */
    }
    
    .contact-section-light-display_blue{
        bottom: 0px;
        left: 20px;
        right: auto;
    }
    
    #social-buttons-light .contact-section-dark-display{
      display: none;
      }
  }

  @media only screen and (min-device-width : 820px) and (max-device-width : 1024px){

    .social-buttons-container {
      margin-bottom: -164px;
      height: fit-content;
      margin-right: auto;
      padding-left: 35%;
      position: relative;
      bottom: 0px;
    
    }
  
  
     .social-buttons-container ul{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      /* padding-inline-start: 40px; */
  }
  
    .animate__animated.animate__fadeInUp{
      display: none;
    }

    
    #social-buttons-dark .contact-section-light-display{
    display: none;
    }
    
    #social-buttons-dark .contact-icons-link-dark :hover{
      transition: 5s;
      transition-delay: 2s;
    }
    
    .contact-section-dark-display_aqua{
        bottom: 0px;
        left: 20px;
        right: auto;
        z-index: 10;
    }
    
    li{
      margin: auto;
     }

     #social-buttons-light{
      height: fit-content;
       margin-right: auto;
      position: relative;
      margin-bottom: -230px;
      padding-left: 35%;
          /* z-index: 10; */
    }
    
    .contact-section-light-display_blue{
        bottom: 0px;
        left: 20px;
        right: auto;
    }
    
    #social-buttons-light .contact-section-dark-display{
      display: none;
      }
   
  }