:root {
  --hue-color: 177;
  --first-color: hsl(var(--hue-color), 69%, 61%);
}


section {
  margin: auto;
  max-width: 100%;
  text-align: center;
  height: fit-content;
}

.section-cover {
  /* min-height: 100vh; */
  padding-top: 10%;
}

.section__title {
  color: rgb(209, 209, 209);
  font-size: 25px;
  padding-top: 80px;
}

.section__subtitle {
  color: aqua;
  font-size: 20px;

}



.container {
  max-width: 768px;
  margin: auto;
  text-align: center;
  /* margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5); */
}

.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
  margin-top: 100px;
  color: rgb(209, 209, 209);
}

.qualification__button {
  font-size: 20px;
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 2fr max-content 2fr 2fr;
  column-gap: 1rem;
  margin-bottom: 50%;
  /* padding-left: 12rem; */
}

.qualification__title {
  font-size: 17px;
  font-weight: var(--font-medium);
  color: grey;
}



.qualification__parentA {
  position: relative;
  top: -20%;
  order: 1;
  margin-left: 12rem;
width: 150px;
}


.qualification__divider {
  order: 2;
    margin-left: 1rem;

}


.qualification__parentB {
  position: relative;
  bottom: -95%;
  order: 3;
}
.qualification__divider1{
  /* order: 2; */
  position: relative;
  left: 1000%;
}
.qualification__parent1 {
  position: relative;
  top: -15%;
  right: -50%;
}
.qualification__parent2 {
  position: relative;
  top: 95%;
  left: 70%;
}

.qualification__parent3 {
  position: relative;
  bottom: -200%;
  left: -170%;
}

.qualification__subtitle {
  display: inline-block;
  font-size: 18px;
  margin-bottom: var(--mb-1);
  color: grey;

}

.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: grey;

}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
  margin: 0;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  position: relative;
  bottom: -5px;
  margin: 0;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
  column-gap: 1rem;

}

.qualification__button.qualification__active {
  color: var(--first-color);
}

.qualification__content {
  margin-top: 50px;
}

/* //light-mode///// */

/* #section_cover-light{
  min-height: 100vh;
  padding: 1% 0;
  background-color: #fff;

} */

.section_cover-light {
  /* min-height: 100vh; */
  padding: 1% 0;
}

#section_cover-light h4{
  color: #003049;
  font-size: 25px;
  padding-top: 80px;
  

}

#section_cover-light h3{
  color: #003049;
  /* font-size: 25px;
  padding-top: 80px; */
  

}
#section_cover-light .qualification__subtitle {
  display: inline-block;
  font-size: 18px;
  margin-bottom: var(--mb-1);
  color: #003049;

}

#section_cover-light .qualification__calendar {
  font-size: var(--smaller-font-size);
  color: #003049;

}

#section_cover-light .section__subtitle {
  /* margin-left: 320px; */
  color: #f77f00;
  font-size: 21px;

}

#section_cover-light .qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
  margin-top: 100px;
  color: #003049;
}

#section_cover-light .qualification__button:hover {
  color: #f77f00;
}

#section_cover-light .qualification__button.qualification__active {
  color: #f77f00;
}

#section_cover-light .qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #f77f00;
  border-radius: 50%;
  margin: 0;
}

#section_cover-light .qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  position: relative;
  bottom: -5px;
  margin: 0;
  background-color: #f77f00;
  transform: translate(6px, -7px);
}

/* ///responsivessness/// */


@media only screen and (min-device-width : 260px) and (max-device-width : 319px){

  .section-cover {
    margin: auto;
    margin-top: 60%;
    /* max-width: 50rem; */
    display: block;
    padding-top: 45rem;
  }

  .section__title {
    color:  rgb(209, 209, 209);
    font-size: 16px;
    padding-top: 80px;
  }

  
  section {
    margin: auto;
    padding-bottom: 150px;
  }
  
  .qualification__divider {
    order: 1;
  }

  .qualification__parentA {
    order: 2;
    width: 70%;
    margin-left: -1rem;
  }

  .qualification__parentB {
    order: 2;
    position: fixed;
    width: 70%;
    left: 10;
    bottom: -55%;
    margin-left: 2rem;
  }

  .qualification__content {
    margin: 10%;
  }

  .qualification__divider1{
    position: relative;
    left: -1000%;
  }
  .qualification__parent2 {
    position: relative;
    top: 95%;
    left: -90%;
  }
  
  .qualification__parent3 {
    position: relative;
    bottom: -200%;
    left: -260%;
    
  } 

  .qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    margin-top: 40px;
    color: grey;
  }

   .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #003047;
    border-radius: 50%;
    margin: 0;
  }

  #section_cover-light .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    position: relative;
    bottom: -5px;
    margin: 0;
    background-color: #003047;
    transform: translate(6px, -7px);
  }

  .container{
    padding-top: -5rem;
  }

  /* ///light-mode//// */

  #section_cover-light .section-cover {
    margin: auto;
    margin-top: 60rem;
    max-width: 50rem;
    display: block;
    padding-top: 45rem;
  }

  #section_cover-light section {
    margin: auto;
    padding-bottom: 150px;
  }
  
  #section_cover-light .qualification__divider {
    order: 1;
  }

  #section_cover-light .qualification__parentA {
    order: 2;
    width: 70%;
    margin-left: -1rem;
  }

  #section_cover-light .qualification__parentB {
    order: 2;
    position: fixed;
    width: 70%;
    left: 10;
    bottom: -55%;
    margin-left: 2rem;
  }

  #section_cover-light .qualification__content {
    margin: 10%;
  }

  #section_cover-light .qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    margin-top: 40px;
    color: #003049;
  }

  #section_cover-light .qualification__divider1{
    position: relative;
    left: -1000%;
  }
  #section_cover-light .qualification__parent2 {
    position: relative;
    top: 95%;
    left: -90%;
  }
  
  #section_cover-light .qualification__parent3 {
    position: relative;
    bottom: -200%;
    left: -260%;
    
  } 


  #section_cover-light .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #f77f00;
    border-radius: 50%;
    margin: 0;
  }

  #section_cover-light .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    position: relative;
    bottom: -5px;
    margin: 0;
    background-color: #f77f00;
    transform: translate(6px, -7px);
  }

  #section_cover-light .section__title {
    color:  #003047;
    font-size: 15px;
    padding-top: 80px;
  }

  #section_cover-light .qualification__title{
    padding-top: -5rem;
  }

}

@media screen  and (min-device-width : 320px) and (max-width:767px) {
  .section-cover {
    margin: auto;
    margin-top: 20rem;
    max-width: 50rem;
    display: block;
    padding-top: 34rem ;
  }

  section {
    margin: auto;
    padding-bottom: 150px;
    text-align: left;
    max-width: 86%;
  }
  
  .qualification__divider {
    order: 1;
    margin-left: 0;
  }

  .qualification__parentA {
    order: 2;
    width: 70%;
    margin-left: -1rem;
  }

  .qualification__parentB {
    order: 2;
    position: fixed;
    width: 70%;
    left: 10;
    bottom: -55%;
    margin-left: 2rem;
  }

  .qualification__content {
    margin: 10% 1%;
  }

  .qualification__divider1{
    position: relative;
    left: -1000%;
  }
  .qualification__parent2 {
    position: relative;
    top: 95%;
    left: -90%;
  }
  
  .qualification__parent3 {
    position: relative;
    bottom: -200%;
    left: -260%;
    
  } 

  #section_cover-dark .qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    margin-top: 40px;
    color: #003049;
  }

  .section__title {
    color:  rgb(209, 209, 209);
    font-size: 20px;
    padding-top: 80px;
  }

   .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: aqua;
    border-radius: 50%;
    margin: 0;
  }

  #section_cover-light .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    position: relative;
    bottom: -5px;
    margin: 0;
    background-color: #003047;
    transform: translate(6px, -7px);
  }

  /* ///light-mode//// */

  #section_cover-light .section-cover {
    margin: auto;
    margin-top: 50rem;
    max-width: 50rem;
    display: block;
    padding-top: 34rem ;
  }

  #section_cover-light section {
    margin: auto;
    padding-bottom: 150px;
    text-align: left;
    max-width: 86%;

  }

  #section_cover-light .qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    margin-top: 40px;
    color: #003049;
  }
  
  #section_cover-light .qualification__divider {
    order: 1;
    margin-left: 0;
  }

  #section_cover-light .qualification__parentA {
    order: 2;
    width: 70%;
    margin-left: -1rem;
  }

  #section_cover-light .qualification__parentB {
    order: 2;
    position: fixed;
    width: 70%;
    left: 10;
    bottom: -55%;
    margin-left: 2rem;
  }

  #section_cover-light .qualification__content {
    margin: 10% 0;
  }

  #section_cover-light .qualification__divider1{
    position: relative;
    left: -1000%;
  }
  #section_cover-light .qualification__parent2 {
    position: relative;
    top: 95%;
    left: -90%;
  }
  
  #section_cover-light .qualification__parent3 {
    position: relative;
    bottom: -200%;
    left: -260%;
    
  } 

  #section_cover-light  .section__title {
    color: #003047;
    font-size: 20px;
    padding-top: 80px;
  }

  #section_cover-light .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #f77f00;
    border-radius: 50%;
    margin: 0;
  }

  #section_cover-light .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    position: relative;
    bottom: -5px;
    margin: 0;
    background-color: #f77f00;
    transform: translate(6px, -7px);
  }

}

@media screen  and (min-device-width : 768px) and (max-width:920px){
.section-cover{
  padding-top: 60%;
}
}

@media screen  and (device-width : 1024px) {

  .section-cover {
    margin: auto;
    /* margin-top: 50rem; */
    max-width: 50rem;
    display: block;
    padding-top: 30rem ;
    
  }

  #section_cover-light .section-cover {
    margin: auto;
    /* margin-top: 50rem; */
    max-width: 50rem;
    display: block;
    padding-top: 30rem ;
    
  }
}