.about-me {
  margin: auto 5%;
    max-width: 80%;
    padding-block: 10%;
    padding-inline: 8% 10%;
}

.about-me-inner {
  margin: auto;
  width: 100%;
}

/* .about-me-header {
  text-align: right;
  margin-right: 36%;
  margin-bottom: -5%;
} */

h5.animate__animated.animate__zoomIn {
  color: #b36b43;
  font-size: 2rem;
  line-height: 0.8em;
  font-family: nunito;
}

.inner_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-paragraph-grid {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5%;
}

.my-image img {
  background-blend-mode: color, normal;
  mix-blend-mode: normal;
}

.paragraph-container {
  /* padding-top: 5%; */
  width: 100%;
  height: 100%;
}

.about-me p.animate__animated.animate__zoomIn {
  color: #ccac8c;
  font-size: 1rem;
  font-family: poppins;
  text-justify: inter-word;
  margin: auto;
  line-height: 1rem;
  padding: 1% 0;
  text-align: justify;
}

.about-me button a {
  text-decoration: none;
  color: #ffdbaf;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 2s;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

.about-me button {
  width: 161px;
  height: 49px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  border: #944703 2px solid;
  background-color: transparent;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #ffdbaf;
  font-size: 10pt;
}

/* //light-mode/// */

#about_me-light h4 {
  color: #000;
  font-size: 30px;
  padding-top: 70px;
  line-height: 0.8em;
  font-family: poppins;
}

#about_me-light p {
  color: #616161;
  font-size: 1rem;
  font-family: poppins;
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  line-height: 1.2em;
  padding: 1% 0;
}

#about_me-light h5 {
  color: #424242;
  font-size: 2rem;
  line-height: 0.8em;
  font-family: nunito;
}

#about_me-light button {
  width: 170px;
  /* padding-top: 20px;
    padding-bottom: 20px; */
  font-weight: 700;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: #944703;
  border: 3px solid #944703;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #ffffff;
}



@media only screen and (max-device-width: 920px) {
  #about_me-dark {
    margin: auto;
    max-width: 90%;
    height: fit-content;
    padding-bottom: 12%;
    padding-top: 0%;
  }

  .about-me-inner {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .about-me-header {
    margin: auto;
    text-align: left;
  }

  .inner-paragraph-grid {
   flex-direction: column;
    margin: auto;
    width: 100%;
    align-items: left;
    grid-gap: 3%;
  }

  .transparent-div {
    width: 270px;
    height: 310px;
    border: 1px solid #0074ff;

  }

  .my-image img {
    width: 100%;
    height: 100%;
  }

  .about-me h4.animate__animated.animate__zoomIn {
    font-weight: bold;
    font-size: 25px;
    line-height: 0.8em;
    font-family: poppins;
    width: 98%;
  }

  h5.animate__animated.animate__zoomIn{
    font-size: 1.5rem;
  }
  .about-me p.animate__animated.animate__zoomIn {
    font-size: 17px;
    text-align: justify;
    /* min-width: 281px;
    max-width: 450px; */
    text-justify: inter-word;
    line-height: 1.5em;
  }

  /* //light-mode//// */

  #about_me-light {
    margin: auto;
    max-width: 90%;
    height: fit-content;
    padding-bottom: 10%;
    padding-top: 0%;
  }

  #about_me-light .about-me-inner {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  #about_me-light .about-me-header {
    margin: auto;
    text-align: left;
  }

  #about_me-light h5 {
    font-size: 1.5rem;
    
  }

  #about_me-light .inner-paragraph-grid {
    flex-direction: column;
    margin: auto;
    width: 100%;
  }

  #about_me-light .transparent-div {
    width: 270px;
    height: 310px;
    order: 1;
  }

  #about_me-light .my-image img {
    width: 100%;
    height: 100%;
  }

  #about_me-light .paragraph-container {
    order: 2;
    width: 100%;
  }

  #about_me-light p.animate__animated.animate__zoomIn {
    font-size: 17px;
    text-align: justify;
    /* min-width: 281px;
    max-width: 450px; */
    line-height: 1.5em;
  }

  #about_me-light button {
    width: 170px;
    font-weight: 700;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
}


