.light {
  position: fixed;
  top: 3%;
  right: 5%;
  display: flex;
  font-size: 2rem;
  border: none;
  z-index: 10;
  background-color: transparent;
  color: #1291b2;

}

#sun {
  color: #1291b2;
  cursor: pointer;
}

.dark {
  position: fixed;
  top: 2%;
  right: 50%;
  font-size: 1.5rem;

  display: flex;
  border: none;
  z-index: 10;
  background-color: transparent;
  color: #1291b2;

}

@media only screen and  (max-device-width : 920px){

    .light{
   right: 15%;
   top: 3%;

    }
      
    .dark{
right: 15%;
top: 3%;

         }
}


