.light{
    /* height: 180px;
    width: 80px; */
    position: fixed;
    top: 68%;
    padding-left: 3%;
    display: flex;
}

/* #sun .light{
    display: none;
} */


.dark{

    /* height: 180px;
    width: 80px; */
    position: fixed;
    top: 68%;
    padding-left: 3%;
    display: flex;
}

@media only screen and (min-device-width : 260px) and (max-device-width : 604px){

    .light{
        /* height: 130px;
        width: 70px; */
        position: absolute;
        /* bottom: 5%; */
        right: 5%;
        display: flex;
        top: 8%;

    }
   
    
    .dark{

        /* height: 130px;
        width: 70px; */
        position: absolute;
        /* bottom: 5%; */
        right: 5%;
        display: flex;
        top: 8%;

        /* height: 180px;
        width: 80px;
        position: fixed;
        bottom: 5%;
        right: 1%;
        display: flex; */
    }
}



