.popup-backdrop{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  background-color: #040404;

    
}

#popup-backdrop-light{
  background-color: #fff;
}

.popup-body{
    background-color:#040404;
    min-height: 100vh;
    width: 100%;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 10;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.popup-body ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block-start: 10%;
    list-style: none;
}

.popup-body li a{
  color: #1291b2;
  font-size: 1rem;
    text-decoration: none;

}


.navigation-menu-inactive {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #1291b2;
    font-size: 1rem;
    font-family: poppins;
  }
  
  .navigation-menu-active {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #0fbfeb;
    font-size: 1rem;
    font-family: poppins;
    text-align: left;
  }
  
  .navigation-menu-inactive:hover {
    font-size: 20px;
    transition: 0.7s;
  }
  #popup-backdrop-light .popup-body  {
      background-color:#fff;
      width: 100%;
      min-height: 100vh;
      opacity: 1;
      position: fixed;
      right: 0;
      top: 10;
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
  
  }

  #popup-backdrop-light .popup-body li a{
    color: #1291b2;
    text-decoration: none;

}

#popup-backdrop-light .popup-backdrop{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  
}

.close_popup{
  display: flex;
    justify-content: right;
    font-size: 2rem;
    color: #0fbfeb;
    font-weight: 600;
    position: fixed;
    right: 3%;
    padding-top: 3%;
    z-index: 12;
}
#popup-backdrop-light .close_popup{
  color: #0fbfeb;

}




