.popup-backdrop{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.288);
    /* opacity: 0.8; */
    /* z-index: 1000; */
}

.popup-body{
    background-color:#003047 ;
    height: 50vh;
    width: 50%;
    margin:  10% auto;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 10;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.popup-body li a{
    color: white;
    text-decoration: none;

}


.navigation-menu-inactive {
    /* // increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
    color: rgba(167, 167, 167, 0.849);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation-menu-active {
    /* // increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
    color: aqua;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation-menu-inactive:hover {
    font-size: 20px;
    transition: 0.7s;
    color: aqua;
  }
  #popup-backdrop-light .popup-body  {
      background-color:#fff;
      /* height: 50%; */
      width: 50%;
      margin:  10% auto;
      opacity: 1;
      position: fixed;
      right: 0;
      top: 10;
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
  
  }

  #popup-backdrop-light .popup-body li a{
    color: #003047;
    text-decoration: none;

}

#popup-backdrop-light .popup-backdrop{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: #003047;
  /* opacity: 0.8; */
  /* z-index: 1000; */
}

@media only screen and (min-device-width: 260px) and (max-device-width: 319px){

  .popup-backdrop{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.288); */
    background-color: #003047;
    
}

.popup-body{
    background-color:#003047 ;
    min-height: 100vh;
    width: 50%;
      margin:  10% auto;
      padding-right: 8%;
      opacity: 1;
      position: fixed;
      right: 0;
      top: 10;
}
.popup-body ul{
    color: grey;
    text-decoration: none;
    font-size: 22px;
  display: flex;
  flex-direction: column;
  width: 50%;
  list-style: square;
  padding-left: 15%;
  margin: 0;
  
}


.popup-body li a{
    color: white;
    text-decoration: none;
    font-size: 20px;

}



.navigation-menu-inactive {
    /* // increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
    color: rgba(167, 167, 167, 0.849);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation-menu-active {
    /* // increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
    color: aqua;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation-menu-inactive:hover {
    font-size: 20px;
    transition: 0.7s;
    color: aqua;
  }
  #popup-backdrop-light .popup-body  {
      background-color:#fff;
      min-height: 100vh;
      width: 50%;
      margin:  10% auto;
      padding-right: 8%;
      opacity: 1;
      position: fixed;
      right: 0;
      top: 10;
  
  }

  #popup-backdrop-light{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.288); */
    background-color: #fff;
    
}

  #popup-backdrop-light .popup-body li a{
    color: #003047;
    text-decoration: none;
    font-size: 20px;

}

#popup-backdrop-light .popup-body ul{
  color: #003047;
  text-decoration: none;
  font-size: 20px;
display: flex;
flex-direction: column;
width: 50%;
list-style: square;
padding-left: 15%;
margin: 0;
}

#popup-backdrop-light .popup-backdrop{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: #003047;

}

}

@media only screen and (min-device-width: 320px) and (max-width:800px) {

  .popup-backdrop{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.288); */
    background-color: #003047;
    
}

.popup-body{
    background-color:#003047 ;
    min-height: 100vh;
    width: 40%;
      margin:  10% auto;
      padding-right: 8%;
      opacity: 1;
      position: fixed;
      right: 0;
      top: 10;
}
.popup-body ul{
    color: grey;
    text-decoration: none;
    font-size: 22px;
  display: flex;
  flex-direction: column;
  width: 50%;
  list-style: square;
  padding-left: 15%;
  margin: 0;
  
}


.popup-body li a{
    color: white;
    text-decoration: none;
    font-size: 22px;

}



.navigation-menu-inactive {
    /* // increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
    color: rgba(167, 167, 167, 0.849);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation-menu-active {
    /* // increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
    color: aqua;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation-menu-inactive:hover {
    font-size: 20px;
    transition: 0.7s;
    color: aqua;
  }
  #popup-backdrop-light .popup-body  {
      background-color:#fff;
      min-height: 100vh;
      width: 40%;
      margin:  10% auto;
      padding-right: 8%;
      opacity: 1;
      position: fixed;
      right: 0;
      top: 10;
  
  }

  #popup-backdrop-light{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.288); */
    background-color: #fff;
    
}

  #popup-backdrop-light .popup-body li a{
    color: #003047;
    text-decoration: none;
    font-size: 22px;

}

#popup-backdrop-light .popup-body ul{
  color: #003047;
  text-decoration: none;
  font-size: 22px;
display: flex;
flex-direction: column;
width: 50%;
list-style: square;
padding-left: 15%;
margin: 0;
}

#popup-backdrop-light .popup-backdrop{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: #003047;

}

}




