body {
  margin: 0;
  font-family: poppins;
  max-width: 100%;
}

#parent_cover-light {
  background-color: #fff;
}

#parent_cover-dark {
  background-color: #040404;
}

p{
  word-spacing: normal;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
  
}
