body {
  margin: 0;
  font-family: poppins;
  max-width: 100%;
}

#parent_cover-light {
  background-color: #f5f5f5;
}

#parent_cover-dark {
  background-color: #341d17;
}

p{
  word-spacing: normal;
}
