body {
  /* background-color: #010120; */
  margin: 0;
  font-family: poppins;
  max-width: 100%;

}

#parent_cover-light{
  background-color: #Fff;
}


#parent_cover-dark{
  background-image:linear-gradient(#0a185b, #001474);

}

p{
  word-break: break-all;
}

@media screen  and (min-device-width : 320px) and (max-width:560px) {

  #parent_cover-light{
    background-color: #Fff;
    padding-left: 5%;
  }

  #parent_cover-dark{
    background-image:linear-gradient(#0a185b, #001474);
    padding-left: 5%;
  
  }

}

@media screen  and (min-device-width : 260px) and (max-width:300px) {

  #parent_cover-light{
    background-color: #Fff;
    /* padding-left: 0%; */
    padding-right: 1%;
  }

  #parent_cover-dark{
    background-image:linear-gradient(#0a185b, #001474);
    /* padding-left: 0%; */
    padding-right: 1%;

  }

}

@media screen  and (min-device-width : 561px) and (max-width:920px) {

  #parent_cover-light{
    background-color: #Fff;
    padding-left: 2%;
  }

  #parent_cover-dark{
    background-image:linear-gradient(#0a185b, #001474);
    padding-left: 2%;
  
  }

}


button {
  z-index: 500;
  
}



.white-content {
  background: #e4e4e4;
}

/* ///.....page-wrap....///// */
.page-wrap {
  /* z-index: -1; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* //////........Background.//////////// */

#parent_cover-dark .circles-container2{
  display: none;
}
.circles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  min-height: 100vh;
  /* overflow: hidden; */
  /* z-index: -14; */
}


.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 30px;
  height: 30px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 80px;
  height: 80px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* //light-mode/// */

#parent_cover-light .circles-container{
  display: none;
}

.circles2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  min-height: 100vh;
  overflow: hidden;
  /* z-index: -2; */
}


.circles2 li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: wheat;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles2 li:nth-child(1) {
  left: 25%;
  width: 70px;
  height: 70px;
  animation-delay: 0s;
}


.circles2 li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles2 li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles2 li:nth-child(4) {
  left: 40%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles2 li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles2 li:nth-child(6) {
  left: 75%;
  width: 30px;
  height: 30px;
  animation-delay: 3s;
}

.circles2 li:nth-child(7) {
  left: 35%;
  width: 80px;
  height: 80px;
  animation-delay: 7s;
}

.circles2 li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles2 li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles2 li:nth-child(10) {
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

/* @media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
} */

/* Safari <8 and IE <11 */
/* @media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
} */

/* @media screen and (min-width: 50em){
html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
} */