.home {
  margin: auto 9%;
  max-width: 80%;
  /* padding: 10%; */
  /* text-align: left; */
  padding-block-start: 10%;
}

.front-end {
  margin: auto;
  text-align: left;
  padding-inline: 5%;
}
.illustration img {
  width: 100%;
  height: 100%;
}

.home h4.animate__animated.animate__zoomIn {
  color: #dcb494;
  font-size: 3rem;
  /* line-height: 0.5em; */
  width: 100%;
  font-family: poppins;
  font-weight: 600;
}

h6.animate__animated.animate__zoomIn {
  color: #a38064;
  font-size: 1.2rem;
  line-height: 0.5em;
  font-weight: 600;
}
#home_title {
  color: #b36b43;
  font-size: 1.5rem;
  line-height: 0.5em;
  font-weight: 700;
  margin-block-start: 0;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 2s;
}

.front-end p.animate__animated.animate__zoomIn {
  color: #ccac8c;
  font-size: 1rem;
  text-align: justify;
  font-family: poppins;
  padding: 0% 0%;
  font-weight: lighter;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 2s;
}

.front-end button {
  width: 161px;
  height: 49px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #944703;
  border-radius: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #ffdbaf;
  font-size: 10pt;
}
.front-end button a {
  text-decoration: none;
  text-align: left;
}

.illustration {
  width: 600px;
}

/* //light-mode/// */

#home-light h4 {
  color: #424242;
}

#home-light p {
  color: #616161;
  font-size: 1rem;
  text-align: justify;
  font-family: poppins;
}

#home-light button {
  width: 161px;
  height: 49px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: #944703;
  border: 2px solid #944703;
  border-radius: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #fafafa;
  font-size: 10pt;
}

#home-light button a {
  text-decoration: none;
}

/* //responsiveness/// */

@media only screen and (max-width: 920px) {
  .home{
    margin: auto 5%;
    max-width: 100%;
    padding-block-start: 20%;
    padding-block-end: 5%;
  }

  h6.animate__animated.animate__zoomIn{
    padding-block-end: 0;
  }

  .home h4.animate__animated.animate__zoomIn{
    font-size: 1.6rem;
  }

  h6.animate__animated.animate__zoomIn{
    font-size: 1rem;
  }
}
